
<section class="footer_section">
    <div>
            <div class="footer_address">
                <h4>ارتباط با ما</h4>
                <ul>
                    <li><p>استان خوزستان شهرستان آبادان </p></li>
                    <li><p>امیری مجتمع اداری تجاری زمرد طبقه دوم واحد 16</p></li>
                    <li><p>شماره تماس : 06153226363</p></li>
                    <li><p>آدرس ایمیل : info@WEBUNI.COM</p></li>
                </ul>
            </div>
            <div class="footer_map">
                <h4>صفحات اجتماعی</h4>
                <ul>
                    <li><a href="#">مهندسی نرم افزار</a></li>
                    <li><a href="#">طراحی گرافیک</a></li>
                    <li><a href="#">توسعه دهنده وب</a></li>
                    <li><a href="#">توسعه دهنده وب</a></li>
                </ul>
            </div>
            <div class="footer_contact">
                <h4>خـبرنـامه</h4>
                <form>
                    <input type="email" class="form-control" placeholder="آدرس الکترونیکی" />
                    <br />
                    <a href="#" class="btn btn-warning footer_div_form_a">اشتراک</a>
                </form>
            </div>
        <div class="footer_copy">
            <a href="#"><i class="fa footer_instagram">&#xf16d;</i></a>
            <a href="#"><i class="fa footer_facebook">&#xf09a;</i></a>
            <a href="#"><i class="fa footer_twitter">&#xf099;</i></a>
            <a href="#"><i class="fa footer_telegram">&#xf2c6;</i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <small class="container text-light">Copyright &copy; </small><small class="text-warning">WEB</small><small class="text-light">UNI</small>
        </div>
    </div>
</section>
