<header class="header-section">
    <div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="site-logo">
                    <h1><span class="text-warning">WEB</span><span class="text-light">UNI</span></h1>
                </div>
                <div class="nav-switch">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <a href="" class="btn btn-warning header-btn_1">ثبت نام</a>
                <a href="" class="btn btn-warning header-btn_2">ورود</a>
                <nav class="main-menu">
                    <ul>
                        <li><a href="index.html">خانه</a></li>
                        <li><a href="#">درباره ما</a></li>
                        <li><a href="courses.html">دوره ها</a></li>
                        <li><a href="blog.html">اخبار</a></li>
                        <li><a href="contact.html">تماس با ما</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>