<div class="header-section">
    <div class="site-logo">
        <a href="Home/Index.cshtml"><h1><span class="site-logo_web">WEB</span><span class="site-logo_uni">UNI</span></h1></a>
    </div>
    <div>
        <nav class="main-menu">
            <ul>
                <li><a href="#">خانه</a></li>
                <li><a href="#">درباره ما</a></li>
                <li><a href="#">دوره ها</a></li>
                <li><a href="#">اخبار</a></li>
                <li><a href="#">تماس با ما</a></li>
            </ul>
        </nav>
    </div>
    <div class="button">
        <ul>
            <li class="header-btn_1 btn btn-warning"><a>ورود</a></li>
            <li class="header-btn_2 btn btn-warning"><a>ثبت نام</a></li>
        </ul>
    </div>
</div>